@import "tailwindcss";

@theme inline {
  --color-background: #4D8F87;
  --color-foreground: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-brand: var(--font-galada);
  --font-brand-kr: var(--font-gowun-batang);
}

body {
  background: #4D8F87;
  color: #ffffff;
}
